.t01BigIcon {
    font-size: 2em;
}

.t01centered {
    text-align: center;
}   

.t01centeredH1 {
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
} 

.rafeTest {
    color: rgb(200,50,50);
    background-color: yellow;
}

#t01menuColor {
    color: white;
}

#t01menuHeight {
    padding-top: 3%;
}

.t01ribbon {
    height: 7%;    
}
